@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1, h2, h3, h4 {
        @apply font-bold;
    }

    p {
        @apply mb-2;
    }

    body {
        @apply leading-relaxed font-raleway;
    }

}

@layer components {
    .btn {
        @apply block py-2 px-6 rounded-md;
    }
    nav.active {
        @apply right-0
    }
    nav a{
        @apply block text-center text-gray-600 
    }
    nav ul li {
        @apply lg:border-l-2 border-gray-300 my-5 lg:first:border-l-0 w-full
        relative
    }
    nav ul li.active {
        @apply lg:after:bg-accentYellow lg:after:h-2 lg:after:w-full lg:after:content-[''] lg:after:absolute lg:after:-top-6  lg:after:rounded-md
    }
    .servicesItem i{
        -webkit-text-fill-color: #008542;
        -webkit-text-stroke-width: 0.7px;
        -webkit-text-stroke-color: white;
    }   
    .servicesItem:hover i{
        -webkit-text-fill-color: unset;
        -webkit-text-stroke-width: unset;
        -webkit-text-stroke-color: unset;
    }
    .toggle_menu.active span {
        @apply rounded-md border-none
    }
    .toggle_menu.active {
        transition: 0.5s ease;
        transform: rotate(180deg);
    }
    .toggle_menu.active span:first-child{
        transform: translate(-0.1rem, 0.1rem) rotate(-38deg);
        transition: 0.5s ease;
        width: 1.5rem;
    }
    .toggle_menu.active span:last-child{
        transform: translate(-0.1rem, -0.1rem) rotate(38deg);
        transition: 0.5s ease;
        width: 1.5rem;
    }
}